server:
  port: 8080

spring:
  application:
    name: gateway

  cloud:
    gateway:
      routes:
        - id: account
          uri: http://account:80
          predicates:
            - Path=/account/**

        - id: auth
          uri: http://auth:80
          predicates:
            - Path=/auth/**

        - id: product
          uri: http://product:8080
          predicates:
            - Path=/product/**

        - id: order
          uri: http://order:8080
          predicates:
            - Path=/order/**

management:
  endpoints:
    web:
      exposure:
        include: prometheus,health,info,metrics
  endpoint:
    prometheus:
      enabled: true
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true
    web:
      server:
        request:
          autotime:
            enabled: true

logging:
  level:
    store: ${LOGGING_LEVEL_STORE:debug}