server:
  port: 8080

spring:
  application:
    name: gateway

  cloud:
    gateway:
      routes:
        - id: account
          uri: http://account:8080
          predicates:
            - Path=/account/**

        - id: auth
          uri: http://auth:8080
          predicates:
            - Path=/auth/**

        - id: product
          uri: http://product:8080
          predicates:
            - Path=/product/**

        - id: order
          uri: http://order:8080
          predicates:
            - Path=/order/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            exposedHeaders:
              - "Authorization"
              - "id-account"
            allowCredentials: false

management:
  endpoints:
    web:
      exposure:
        include: prometheus,health,info,metrics,gateway
  endpoint:
    prometheus:
      enabled: true
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true
    web:
      server:
        request:
          autotime:
            enabled: true

logging:
  level:
    store: ${LOGGING_LEVEL_STORE:debug}
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.reactive: DEBUG